---

- set_fact:
    vm_hashable_name: "{{ item.1 }}"

- set_fact:
    vm_hashed_name: "{{ vm_hashable_name | hash('md5') }}"

- set_fact:
    vm_hashed_name_short: "{{ vm_hashed_name | truncate(8, True, '') }}"

- name: Create VMs From Image
  include_role:
    name: create-vm
  vars:
    vm_name: "{{ gcp_instance_prefix }}-{{ item.0.key }}-{{ normalized_collection_method }}-{{ vm_hashed_name_short }}-{{ job_id }}"
    vm_project: "{{ item.0.value.project }}"
    # still populate the family, since it is used as a label to differentiate
    # VMs
    vm_family: "{{ item.0.key }}"
    vm_image: "{{ item.1 }}"
    vm_platform: "{{ item.0.key }}"
    vm_config: "{{ item.0.key }}_{{ item.0.key }}"
    vm_collection_method: "{{ collection_method | default('any') | replace('-', '_') }}"
    vm_available_zones: "{{ gcp_available_zones }}"
    vm_ignition: "{{ item.0.value.ignition | default({}) }}"
