---
- include_vars: ppc64le.yml
- include_vars: s390x.yml

- set_fact:
    vm_hashable_name: "{{ item.1 }}-{{ job_id }}"
    vm_image_short: "{{ item.1 | truncate(16, True, '') }}"

- set_fact:
    vm_hashed_name: "{{ vm_hashable_name | hash('md5') | truncate(8, True, '') }}"

- set_fact:
    arch: "{{ item.0.value.arch | default('amd64') }}"
    vm_full_name: "{{ gcp_instance_prefix }}-{{ item.0.key }}-{{ vm_image_short }}-{{ normalized_collection_method }}-{{ vm_hashed_name }}"

- set_fact:
    ibm_env: "{{ s390x.env }}"
  when: arch == 's390x'

- set_fact:
    ibm_env: "{{ ppc64le.env }}"
  when: arch == 'ppc64le'

- name: Create VMs From Image
  include_role:
    name: create-vm
    apply:
      environment: "{{ ibm_env | default({}) }}"
  vars:
    vm_name: "{{ vm_full_name }}"
    vm_project: "{{ item.0.value.project }}"
    # still populate the family, since it is used as a label to differentiate
    # VMs
    vm_family: "{{ item.0.key }}"
    vm_image: "{{ item.1 | truncate(63, True, '') }}"
    vm_platform: "{{ item.0.key }}"
    vm_config: "{{ item.1 }}"
    vm_collection_method: "{{ collection_method | default('any') | replace('-', '_') }}"
    vm_available_zones: "{{ gcp_available_zones }}"
    vm_ignition: "{{ item.0.value.ignition | default({}) }}"
    vm_arch: "{{ item.0.value.arch | default('amd64') }}"
    vm_machine_type: "{{ item.0.value.machine_type | default('e2-standard-2') }}"
    vm_ssh_key_file: "{{ item.0.value.ssh_key_file | default(gcp_ssh_key_file) }}"
    vm_user: "{{ item.0.value.username | default(ansible_user) }}"
