---

# GCP setup
gcp_project: "stackrox-dev"
gcp_auth_kind: "application"
gcp_service_account_file: null
gcp_instance_prefix: collector-dev
gcp_available_zones:
  - us-central1-a
  - us-central1-b
  - us-central1-c
  - us-central1-f
ansible_user: "{{ lookup('env', 'USER') }}"

gcp_default_labels:
  stackrox-ci: "false"

ibm_output_inventory_file: "{{ lookup('env', 'PWD') }}/dev/inventory_ibmcloud.yml"
