# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 4

shell_variant      = bash
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
function_next_line = false

[githooks/**]
indent_style = space
indent_size = 4

shell_variant      = bash
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
function_next_line = false

# Ignore submodules
[{third_party,sysdig}/**]
ignore = true
