.idea/
.rox/
integration-tests/*.logs
integration-tests/perf.json
falcosecurity-libs/cmake-build
falcosecurity-libs/cmake-build-rhel
kernel-modules/kobuild-tmp

# Mac OS hidden file
.DS_Store

# Vim swap files
*.swp

# Development SSH Server keys
.collector_dev_ssh_host_ed25519_key*

# vscode configuration files
.vscode/
.devcontainer/
.devcontainer.json
