[submodule "sysdig/src"]
	path = sysdig/src
	url = git@github.com:stackrox/sysdig
	branch = stackrox-changes-tag-0.24.2
[submodule "abseil-cpp"]
	path = collector/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
