.idea/
.rox/
integration-tests/*.logs
integration-tests/perf.json
sysdig/cmake-build
sysdig/cmake-build-rhel
kernel-modules/kobuild-tmp
utilities/PerformanceTesting/TestResults

# Mac OS hidden file
.DS_Store

# Vim swap files
*.swp

# Development SSH Server keys
.collector_dev_ssh_host_ed25519_key*

# vscode configuration files
.vscode/
.devcontainer/
.devcontainer.json
