.idea/
.rox/
integration-tests/integration-test.log
integration-tests/collector.logs
integration-tests/grpc-server.logs
integration-tests/perf.json
sysdig/cmake-build
sysdig/cmake-build-rhel
kernel-modules/kobuild-tmp

# Mac OS hidden file
.DS_Store

# Vim swap files
*.swp
