[submodule "grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
	branch = master
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = master
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = main
[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/googleapis/googleapis.git
	branch = master
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://luajit.org/git/luajit.git
	branch = master
[submodule "third_party/prometheus-cpp"]
	path = third_party/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp
	branch = master
[submodule "third_party/civetweb"]
	path = third_party/civetweb
	url = https://github.com/civetweb/civetweb.git
	branch = master
[submodule "third_party/libb64"]
	path = third_party/libb64
	url = https://github.com/libb64/libb64.git
	branch = master
[submodule "falcosecurity-libs"]
	path = falcosecurity-libs
	url = https://github.com/stackrox/falcosecurity-libs
	branch = master
[submodule "collector/proto/third_party/gogoproto"]
	path = collector/proto/third_party/gogoproto
	url = https://github.com/gogo/protobuf
	branch = master
[submodule "collector/proto/third_party/stackrox"]
	path = collector/proto/third_party/stackrox
	url = https://github.com/stackrox/stackrox
	branch = master
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "third_party/valijson"]
	path = third_party/valijson
	url = https://github.com/tristanpenman/valijson.git
	branch = master
