---

# Set fact that are required to destroy vsi instance
- set_fact:
    hostname: "{{ inventory_hostname }}"

- name: Get instance id by name
  delegate_to: localhost
  ibm.cloudcollection.ibm_pi_instance_info:
    pi_instance_name: "{{ hostname }}"
    pi_cloud_instance_id: "{{ pi_cloud_instance_id }}"
  failed_when:
    - pi_instance_existing_output.rc != 0
    - '"does not exist" not in pi_instance_existing_output.stderr'
  retries: 3
  delay: 5
  register: pi_instance_existing_output

- name: Save existing Power VSI fact
  delegate_to: localhost
  set_fact:
    cacheable: True
    pi_instance: "{{ pi_instance_existing_output.resource }}"
  when: pi_instance_existing_output.rc == 0

- name: Save network details
  delegate_to: localhost
  set_fact:
    public_subnet: "{{ pi_instance.networks|rejectattr('external_ip', 'equalto', '') | list | first }}"
  when: pi_instance_existing_output.rc == 0

- name: Delete instance by id
  delegate_to: localhost
  ibm.cloudcollection.ibm_pi_instance:
    state: absent
    pi_cloud_instance_id: "{{ pi_cloud_instance_id }}"
    id: "{{ pi_instance.id }}"
  retries: 3
  delay: 5
  register: delete_operation
  until: delete_operation is success
  ignore_errors: true
  when: pi_instance_existing_output.rc == 0

- name: Check for existing network
  delegate_to: localhost
  ibm.cloudcollection.ibm_pi_network_info:
    pi_network_name: "{{ hostname }}-network"
    pi_cloud_instance_id: "{{ pi_cloud_instance_id }}"
  register: pi_network_existing_info
  ignore_errors: true

- name: Delete network
  delegate_to: localhost
  ibm.cloudcollection.ibm_pi_network:
    pi_cloud_instance_id: "{{ pi_cloud_instance_id }}"
    state: absent
    id: "{{ pi_network_existing_info.resource.id }}"
  retries: 3
  delay: 5
  register: delete_network_operation
  until: delete_network_operation is success
  ignore_errors: true
  when:
    - pi_network_existing_info is success
    - pi_network_existing_info.resource.id is defined

- name: Check for existing SSH Key
  delegate_to: localhost
  ibm.cloudcollection.ibm_pi_key_info:
    pi_key_name: "{{ hostname }}-ssh-key"
    pi_cloud_instance_id: "{{ pi_cloud_instance_id }}"
  register: pi_ssh_key_existing_info
  ignore_errors: true

- name: Delete SSH Key
  delegate_to: localhost
  ibm.cloudcollection.ibm_pi_key:
    pi_cloud_instance_id: "{{ pi_cloud_instance_id }}"
    state: absent
    pi_ssh_key: "{{ pi_ssh_key_existing_info.resource }}"
    pi_key_name: "{{ hostname }}-ssh-key"
    id: "{{ pi_ssh_key_existing_info.resource.id }}"
  retries: 10
  delay: 30
  register: pi_ssh_key_delete
  when: 
    - pi_ssh_key_existing_info is success
    - pi_ssh_key_existing_info.resource is defined

- name: Remove IBM inventory file (delete file)
  delegate_to: localhost
  file:
    path: '{{ ibm_output_inventory_file }}'
    state: absent
  retries: 5
  delay: 10
