---

gcp_ssh_key_file: "{{ lookup('env', 'GCP_SSH_KEY_FILE', default='~/.ssh/google_compute_engine') }}"
ibmcloud_ssh_key_file: "{{ lookup('env', 'IBMCLOUD_SSH_KEY_FILE', default='~/.ssh/acs-sshkey_rsa.prv') }}"

current_user: "{{ lookup('env', 'USER') }}"
test_platform: "{{ lookup('env', 'VM_TYPE', default='rhel') }}"
collector_root: "{{ playbook_dir }}/.."
collector_repo: "quay.io/stackrox-io"

ansible_ssh_private_key_file: "{{ virtual_machines[test_platform].ssh_key_file | default(gcp_ssh_key_file) }}"

# These control the container runtime used on the VMs.
# They can be overridden in platform-specific group_vars files
runtime_command: docker
runtime_as_root: false
runtime_socket: /var/run/docker.sock

redhat_username: "{{ lookup('env', 'REDHAT_USERNAME', default='') }}"
redhat_password: "{{ lookup('env', 'REDHAT_PASSWORD', default='') }}"

excluded_pairs:
  # e.g. - ['ubuntu-1804-lts', 'core_bpf']
  # This can be removed once we have downloadable s390x eBPF drivers
  - [ 'rhel-8-6-s390x', 'ebpf' ]
  # Also exclude Power & core_bpf, since it is currently unsupported
  - [ 'p', 'core_bpf' ]
  # No ebpf support for arm... Yet...?
  - [ 'rhel-9-arm64', 'ebpf' ]
  - [ 'ubuntu-2004-lts-arm64', 'ebpf' ]
  - [ 'ubuntu-2204-lts-arm64', 'ebpf' ]
  - [ 'sles-15-arm64', 'ebpf' ]
  - [ 'fedora-coreos-stable-arm64', 'ebpf' ]
  # eBPF on Garden Linux is not supported.
  - [ 'garden-linux', 'ebpf' ]

virtual_machines:
  rhel:
    project: rhel-cloud
    families:
      - rhel-8
      - rhel-9

  rhel-arm64:
    project: rhel-cloud
    arch: arm64
    machine_type: t2a-standard-2
    families:
      - rhel-9-arm64

  rhel-s390x:
    project: rhel-s390x-cloud
    arch: s390x
    ssh_key_file: "{{ ibmcloud_ssh_key_file }}"
    families:
      - rhel-8-6-s390x

  # We have taken families name as "p" since there is a character limit for instance name
  # in ibm cloud (56 chars max)
  rhel-ppc64le:
    project: rhel-ppc64le-cloud
    arch: ppc64le
    ssh_key_file: "{{ ibmcloud_ssh_key_file }}"
    families:
      - p

  rhel-sap:
    project: rhel-sap-cloud
    families:
      - rhel-8-4-sap-ha
      - rhel-8-6-sap-ha

  rhcos:
    project: rhcos-cloud
    images:
      - rhcos-412-86-202303211731-0-gcp-x86-64
      - rhcos-413-86-202303151429-0-gcp-x86-64
    ignition:
      ignition:
        version: 3.2.0
      passwd:
        users:
          - name: core
            sshAuthorizedKeys:
              - "{{ lookup('file', gcp_ssh_key_file + '.pub', errors='ignore') }}"

  cos:
    project: cos-cloud
    families:
      - cos-stable
      - cos-beta
      - cos-dev

  sles:
    project: suse-cloud
    families:
      # Disable SLES-12 as it currently relies on kernel-modules
      # that are no longer built.
      # See https://github.com/stackrox/collector/issues/1141 for details.
      #- sles-12
      - sles-15

  sles-arm64:
    project: suse-cloud
    arch: arm64
    machine_type: t2a-standard-2
    families:
      - sles-15-arm64

  ubuntu-os:
    project: ubuntu-os-cloud
    families:
      - ubuntu-2004-lts
      - ubuntu-2204-lts

  ubuntu-os-arm64:
    project: ubuntu-os-cloud
    arch: arm64
    machine_type: t2a-standard-2
    families:
      - ubuntu-2004-lts-arm64
      - ubuntu-2204-lts-arm64

  ubuntu-os-pro:
    project: ubuntu-os-pro-cloud
    families:
      - ubuntu-pro-1804-lts

  flatcar:
    project: kinvolk-public
    families:
      - flatcar-stable

  fedora-coreos:
    project: fedora-coreos-cloud
    families:
      - fedora-coreos-stable

  # This should be 'fedora-coreos-arm64', but because of
  # GCP VM name length restrictions, we need it to be shorter
  fcarm:
    project: fedora-coreos-cloud
    arch: arm64
    machine_type: t2a-standard-2
    families:
      - fedora-coreos-stable-arm64

  garden-linux:
    project: sap-se-gcp-gardenlinux
    images:
      - "{{ lookup('file', 'group_vars/gardenlinux-image.txt') }}"
