---

gcp_ssh_key_file: "{{ lookup('env', 'GCP_SSH_KEY_FILE', default='~/.ssh/google_compute_engine') }}"
ibmcloud_ssh_key_file: "{{ lookup('env', 'IBMCLOUD_SSH_KEY_FILE', default='~/.ssh/acs-sshkey_rsa.prv') }}"

current_user: "{{ lookup('env', 'USER') }}"
test_platform: "{{ lookup('env', 'VM_TYPE', default='rhel') }}"
arch_info: "{{ 's390x' if 's390x' in test_platform else 'amd64' }}"
collector_root: "{{ playbook_dir }}/.."
collector_repo: "quay.io/stackrox-io"

ansible_ssh_private_key_file: "{{ ibmcloud_ssh_key_file if arch_info != 'amd64' else gcp_ssh_key_file }}"

# These control the container runtime used on the VMs.
# They can be overridden in platform-specific group_vars files
runtime_command: docker
runtime_as_root: false
runtime_socket: /var/run/docker.sock

redhat_username: "{{ lookup('env', 'REDHAT_USERNAME', default='') }}"
redhat_password: "{{ lookup('env', 'REDHAT_PASSWORD', default='') }}"

excluded_pairs:
  # e.g. - ['ubuntu-1804-lts', 'core_bpf']
  # This can be removed once we have downloadable s390x eBPF drivers
  - [ 'rhel-8-6-s390x', 'ebpf' ]

virtual_machines:
  rhel:
    project: rhel-cloud
    families:
      - rhel-8
      - rhel-9

  rhel-s390x:
    project: rhel-s390x-cloud
    families:
      - rhel-8-6-s390x

  rhel-sap:
    project: rhel-sap-cloud
    families:
      - rhel-8-4-sap-ha
      - rhel-8-6-sap-ha

  rhcos:
    project: rhcos-cloud
    username: core
    images:
      - rhcos-412-86-202303211731-0-gcp-x86-64
      - rhcos-413-86-202303151429-0-gcp-x86-64
    ignition:
      ignition:
        version: 3.2.0
      passwd:
        users:
          - name: core
            sshAuthorizedKeys:
              - "{{ lookup('file', gcp_ssh_key_file + '.pub') }}"

  cos:
    project: cos-cloud
    families:
      - cos-stable
      - cos-beta
      - cos-dev

  sles:
    project: suse-cloud
    families:
      # Disable SLES-12 as it currently relies on kernel-modules
      # that are no longer built.
      # See https://github.com/stackrox/collector/issues/1141 for details.
      #- sles-12
      - sles-15

  ubuntu-os:
    project: ubuntu-os-cloud
    families:
      - ubuntu-2004-lts
      - ubuntu-2204-lts

  ubuntu-os-pro:
    project: ubuntu-os-pro-cloud
    families:
      - ubuntu-pro-1804-lts

  flatcar:
    project: kinvolk-public
    username: core
    families:
      - flatcar-stable

  fedora-coreos:
    project: fedora-coreos-cloud
    username: core
    families:
      - fedora-coreos-stable

  garden-linux:
    project: sap-se-gcp-gardenlinux
    images:
      - "{{ lookup('file', 'group_vars/gardenlinux-image.txt') }}"


# IBM Cloud setup
# vpc_name: lei-vpc-toronto
vpc_id: r038-c4f8e233-4b56-44bd-af71-140ebd1664e9
# subnet_name: stackrox-ci-sn3
subnet_id: 02s7-0fca7f4f-7e53-40d5-a087-f8cb5d7ab682
zone: ca-tor-3
# ssh_key_name: acs-sshkey
ssh_key_id: r038-fb0260c7-c01d-45c8-8026-7d50042943b9
# vsi_resource_group: stackrox-ci-resource-group
vsi_resource_group_id: 1a33a6a9bd6e498f8115e9b1064bfa97
