---

- name: Check family excluded
  set_fact:
    excluded: "{{ [vm_family, vm_collection_method] in excluded_pairs or (test_platform != 'rhel-ppc64le' and vm_collection_method == 'ebpf') }}"
  when: vm_image is not defined

- name: Check image excluded
  set_fact:
    excluded: "{{ [vm_image, vm_collection_method] in excluded_pairs or (test_platform != 'rhel-ppc64le' and vm_collection_method == 'ebpf') }}"
  when: vm_image is defined

- name: Create IBM Z VM
  include_tasks: create-s390x-vm.yml
  vars:
    vsi_name: "{{ vm_name }}"
  when: vm_arch == "s390x" and excluded == false

- name: Create IBM POWER VM
  include_tasks: create-ppc64le-vm.yml
  vars:
    pi_name: "{{ vm_name }}"
  when: vm_arch == "ppc64le" and excluded == false

- name: Create GCP VM
  include_tasks: create-gcp-vm.yml
  when: (vm_arch == "amd64" or vm_arch == "arm64") and excluded == false

# make sure to reset the instance_result otherwise subsequent VMs arent created
- set_fact:
    instance_result:
      changed: false
