---

- name: Set source image from family
  set_fact:
    gcp_source_image: "projects/{{ vm_project }}/global/images/family/{{ vm_family }}"
  when: vm_image is not defined

- name: Set source image from image
  set_fact:
    gcp_source_image: "projects/{{ vm_project }}/global/images/{{ vm_image }}"
  when: vm_image is defined

- set_fact:
    gcp_extra_labels:
      platform: "{{ vm_platform }}"
      job_id: "{{ job_id }}"
      vm_config: "{{ vm_config }}"
      vm_image_family: "{{ vm_family }}"
      vm_collection_method: "{{ vm_collection_method }}"

- name: Create VM
  google.cloud.gcp_compute_instance:
    name: "{{ vm_name }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_auth_kind }}"
    service_account_file: "{{ gcp_service_account_file }}"
    zone: "{{ gcp_zone }}"
    machine_type: "{{ vm_machine_type | default('e2-standard-2') }}"
    disks:
      - auto_delete: true
        boot: true
        initialize_params:
          disk_size_gb: "{{ vm_disk_size | default(20) }}"
          source_image: "{{ gcp_source_image }}"
    network_interfaces:
      - network:
          name: "default"
        access_configs:
          - name: External NAT
            type: ONE_TO_ONE_NAT
    labels: "{{ gcp_default_labels | combine(gcp_extra_labels) }}"
    metadata:
      user-data: "{{ vm_ignition | to_json }}"

  # This looks like a lot, and its mostly because ansible support
  # for "breaking" from a loop is not all that great at the moment.
  # This approach has been taken from here:
  #
  # https://github.com/ansible/proposals/issues/140#issuecomment-649828067
  loop: "{{ vm_available_zones }}"
  loop_control:
    loop_var: gcp_zone
  register: instance_result
  when: not condition
  vars:
    condition: "{{ (instance_result | default({'changed': false})).changed }}"

# make sure to reset the instance_result otherwise subsequent VMs arent created
- set_fact:
    instance_result:
      changed: false
