---
- name: Register server with Red Hat for IBM POWER vms
  tags: attach_subscription
  community.general.redhat_subscription:
    state: present
    username: "{{ redhat_username }}"
    password: "{{ redhat_password }}"
    auto_attach: true
  register: registration
  retries: 2
  delay: 30
  until: registration is not failed
  when: vm_arch == "ppc64le" or vm_arch == "s390x"

- name: Disable troublesome repo
  ansible.builtin.shell: |
    dnf config-manager --disable rhui-codeready-builder-for-rhel-8-x86_64-rhui-source-rpms
  when: vm_config.find('-8') != -1 and vm_arch == 'amd64'

- name: Install needed utilities
  ansible.builtin.dnf:
    name:
      - git
      - make

- name: Add docker repos
  ansible.builtin.shell: |
    dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
  when: runtime_command == 'docker'

- name: Install docker
  ansible.builtin.dnf:
    name:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin
    state: present
  when: runtime_command == 'docker'

- name: Install podman
  ansible.builtin.dnf:
    name:
      - podman
      - podman-docker
      - git
      - make
    state: latest
    update_cache: true
  when: runtime_command == 'podman'

