---
- name: Create Benchmark VMs
  hosts: localhost
  tags:
    - setup
  tasks:
    - name: Create VMs for each Collection Method
      include_role:
        name: create-all-vms
      vars:
        # ensure that all listed VMs are created
        test_platform: all
        vm_list:
          rhel: "{{ virtual_machines['rhel'] }}"
          ubuntu-os: "{{ virtual_machines['ubuntu-os'] }}"
        collection_method: "{{ lookup('env', 'COLLECTION_METHOD', default='core_bpf') }}"
  post_tasks:
    # We have all the VMs created now, so refresh the inventory - this allows
    # us to use the provisioning role on the VMs we just created
    - meta: refresh_inventory

- name: Provision Benchmark VMs
  hosts: "job_id_{{ job_id }}"
  roles:
    - provision-vm
  gather_facts: no
  strategy: free
  become: yes
  tags:
    - setup
    - provision

- name: Run Benchmarks
  # using platform_*:&job_id here ensures that ansible imports
  # group_vars/platform_*.yml for the relevant platform, e.g.
  # flatcar where we need to use a custom python interpreter.
  hosts: "platform_*:&job_id_{{ job_id }}"
  strategy: free
  roles:
    - run-test-target
  vars:
    collector_test: TestBenchmark
  tags:
    - run-benchmarks

- name: Teardown Benchmark VMs
  hosts: "job_id_{{ job_id }}"
  strategy: free
  roles:
    - destroy-vm
  tags:
    - teardown
