---
- name: Build and push collector image
  hosts: "{{ build_hosts | default('all') }}"

  environment:
    COLLECTOR_BUILDER_TAG: "{{ collector_builder_tag }}"
    PLATFORM: "linux/{{ arch }}"
    COLLECTOR_TAG: "{{ collector_tag }}"
    DISABLE_PROFILING: "{{ disable_profiling }}"
    CMAKE_BUILD_TYPE: "{{ 'Debug' if debug_mode else 'Release' }}"

  vars:
    collector_root: "{{ ansible_env.HOME }}/collector"
    local_branch: local

  tasks:
    - name: Run the builder image
      community.general.make:
        chdir: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}"
        target: start-builder

    - name: Build the collector image
      community.general.make:
        chdir: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}"
        target: image
      register: build_result
      # ensure this action is printed
      tags: [print_action]

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ stackrox_io_username }}"
        password: "{{ stackrox_io_password }}"

    - name: Push to quay.io/stackrox-io
      import_tasks: push-with-crane.yml
      vars:
        src_image: "{{ collector_image }}"
        dst_image: "{{ collector_image }}-{{ arch }}"

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ rhacs_eng_username }}"
        password: "{{ rhacs_eng_password }}"

    - name: Push to quay.io/rhacs-eng
      import_tasks: push-with-crane.yml
      vars:
        src_image: "{{ collector_image }}"
        dst_image: "{{ rhacs_eng_image }}-{{ arch }}"

    - name: Untag collector image to prevent issues with multiarch
      community.docker.docker_image:
        name: "{{ collector_image }}"
        state: absent

    - name: Print images pushed
      debug:
        msg:
        - "Pushed the following images:"
        - "  {{ collector_image }}-{{ arch }}"
        - "  {{ rhacs_eng_image }}-{{ arch }}"
      tags: [print_action]

    - name: Logout of quay.io
      community.docker.docker_login:
        registry_url: quay.io
        state: absent
      when: true
