---
- name: Build and push collector image
  hosts: "{{ build_hosts | default('all') }}"

  environment:
    BUILD_BUILDER_IMAGE: "true"
    COLLECTOR_BUILDER_TAG: "{{ collector_builder_tag }}"
    PLATFORM: "linux/{{ arch }}"

  vars:
    collector_root: "{{ ansible_env.HOME }}/collector"
    local_branch: local

  tasks:
    - name: Build the collector builder image
      community.general.make:
        chdir: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}"
        target: builder

    - name: Retag collector builder image to arch specific
      containers.podman.podman_tag:
        image: "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}"
        target_names:
          - "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
          - "quay.io/rhacs-eng/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"

    - name: Untag collector builder image to prevent issues with multiarch
      containers.podman.podman_image:
        name: "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}"
        state: absent

    - name: Login to quay.io
      containers.podman.podman_login:
        registry: quay.io
        username: "{{ stackrox_io_username }}"
        password: "{{ stackrox_io_password }}"

    - name: Push builder image to quay.io/stackrox-io
      containers.podman.podman_image:
        name: "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
        push: true

    - name: Login to quay.io
      containers.podman.podman_login:
        registry: quay.io
        username: "{{ rhacs_eng_username }}"
        password: "{{ rhacs_eng_password }}"

    - name: Push builder image to quay.io/rhacs-eng
      containers.podman.podman_image:
        name: "quay.io/rhacs-eng/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
        push: true

    - name: Print builder images pushed
      debug:
        msg:
          - "Pushed the following builder images:"
          - "  quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
          - "  quay.io/rhacs-eng/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"

    - name: Logout of quay.io
      containers.podman.podman_login:
        registry_url: quay.io
        state: absent
      when: true
