---
- name: Build and push collector image
  hosts: all

  environment:
    COLLECTOR_BUILDER_TAG: "{{ ansible_env.COLLECTOR_BUILDER_TAG }}"
    PLATFORM: "{{ ansible_env.PLATFORM }}"
    COLLECTOR_TAG: "{{ ansible_env.COLLECTOR_TAG }}"

  tasks:
    - name: Build the collector image
      community.general.make:
        chdir: "{{ lookup('env', 'GITHUB_WORKSPACE') }}"
        target: image
      # ensure this action is printed
      tags: [print_action]

    - name: Retag collector image to arch specific
      community.docker.docker_image:
        name: "{{ collector_image }}"
        repository: "{{ collector_image }}-{{ arch }}-slim"
        source: local

    - name: Untag collector image to prevent issues with multiarch
      community.docker.docker_image:
        name: "{{ collector_image }}"
        state: absent

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ stackrox_io_username }}"
        password: "{{ stackrox_io_password }}"

    - name: Push slim to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}-slim"
        push: true
        source: local

    - name: Push base to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}-slim"
        repository: "{{ collector_image }}-{{ arch }}-base"
        push: true
        source: local

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ rhacs_eng_username }}"
        password: "{{ rhacs_eng_password }}"

    - name: Push slim to quay.io/rhacs-eng
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}-slim"
        repository: "{{ ansible_env.RHACS_ENG_IMAGE }}-{{ arch }}-slim"
        push: true
        source: local

    - name: Push base to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}-slim"
        repository: "{{ ansible_env.RHACS_ENG_IMAGE }}-{{ arch }}-base"
        push: true
        source: local

    - name: Print images pushed
      debug:
        msg:
        - "Pushed the following images:"
        - "  {{ collector_image }}-{{ arch }}-slim"
        - "  {{ collector_image }}-{{ arch }}-base"
        - "  {{ ansible_env.RHACS_ENG_IMAGE }}-{{ arch }}-slim"
        - "  {{ ansible_env.RHACS_ENG_IMAGE }}-{{ arch }}-base"
      tags: [print_action]

    - name: Logout of quay.io
      community.docker.docker_login:
        registry_url: quay.io
        state: absent
      when: true
