---
- name: Build and push collector image
  hosts: "{{ build_hosts | default('all') }}"

  environment:
    BUILD_BUILDER_IMAGE: "true"
    COLLECTOR_BUILDER_TAG: "{{ collector_builder_tag }}"
    PLATFORM: "linux/{{ arch }}"

  vars:
    collector_root: "{{ ansible_env.HOME }}/collector"
    local_branch: local

  tasks:
    - name: Wrap docker with crane
      shell:
        cmd: |
          # Inspired by https://github.com/actions/runner-images/issues/13474#issuecomment-3893588930
          CRANE_VERSION=v0.20.7
          CRANE_PLATFORM=${PLATFORM}
          case "${CRANE_PLATFORM}" in
            amd64) CRANE_PLATFORM=x86_64 ;;
          esac
          curl -sL "https://github.com/google/go-containerregistry/releases/download/${CRANE_VERSION}/go-containerregistry_Linux_${CRANE_PLATFORM}.tar.gz" \
            | tar xz -C /usr/local/bin crane

    - name: Build the collector builder image
      community.general.make:
        chdir: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}"
        target: builder

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ stackrox_io_username }}"
        password: "{{ stackrox_io_password }}"

    - name: Push builder image to quay.io/stackrox-io
      shell:
        environment:
          SRC_IMAGE: "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}"
          DST_IMAGE: "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
        cmd: |
          TMPTAR=$(mktemp /tmp/image-XXXXXX.tar)
          docker save "$SRC_IMAGE" -o "$TMPTAR" && crane push "$TMPTAR" "$DST_IMAGE"
          RC=$?
          rm -f "$TMPTAR"
          exit $RC

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ rhacs_eng_username }}"
        password: "{{ rhacs_eng_password }}"

    - name: Push builder image to quay.io/rhacs-eng
      shell:
        environment:
          SRC_IMAGE: "quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}"
          DST_IMAGE: "quay.io/rhacs-eng/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
        cmd: |
          TMPTAR=$(mktemp /tmp/image-XXXXXX.tar)
          docker save "$SRC_IMAGE" -o "$TMPTAR" && crane push "$TMPTAR" "$DST_IMAGE"
          RC=$?
          rm -f "$TMPTAR"
          exit $RC

    - name: Print builder images pushed
      debug:
        msg:
          - "Pushed the following builder images:"
          - "  quay.io/stackrox-io/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"
          - "  quay.io/rhacs-eng/collector-builder:{{ ansible_env.COLLECTOR_BUILDER_TAG }}-{{ arch }}"

    - name: Logout of quay.io
      community.docker.docker_login:
        registry_url: quay.io
        state: absent
      when: true
