---
- name: Build and push collector image
  hosts: "{{ build_hosts | default('all') }}"

  environment:
    COLLECTOR_BUILDER_TAG: "{{ collector_builder_tag }}"
    PLATFORM: "linux/{{ arch }}"
    COLLECTOR_TAG: "{{ collector_tag }}"
    DISABLE_PROFILING: "{{ disable_profiling }}"
    CMAKE_BUILD_TYPE: "{{ 'Debug' if debug_mode else 'Release' }}"

  vars:
    collector_root: "{{ ansible_env.HOME }}/collector"
    local_branch: local
    ccache_dir: ".ccache"
    ccache_archive: "docker.tar.gz"

  tasks:
    - debug: var=collector_root
    - name: Clone repository
      ansible.builtin.git:
        repo: https://github.com/stackrox/collector
        dest: "{{ collector_root }}"
        # We fetch the ref (either master, or pull/<ID>/merge) and then
        # create a local branch based on that. Doing it this way, rather
        # than with commit hashes, prevents "reference is not a tree" errors
        version: "{{ local_branch }}"
        refspec: "+{{ collector_git_ref | replace('refs/', '') }}:{{ local_branch }}"
        depth: 1
        recursive: false
      when: arch == "s390x"

    - name: Clone submodules
      ansible.builtin.shell: |
        git submodule update --init --depth 1
      args:
        chdir: "{{ collector_root }}"
      when: arch == "s390x"

    - name: Check if ccache exists
      delegate_to: localhost
      ansible.builtin.stat:
        path: "{{ github_workspace }}/{{ ccache_dir }}/{{ ccache_archive }}"
      register: ccache_check
      when: arch == "s390x"

    - name: Create cccache directory
      ansible.builtin.file:
        path: "{{ collector_root }}/{{ ccache_dir }}"
        state: directory
      when: arch == "s390x" and ccache_check.stat.exists

    - name: Copy ccache
      ansible.builtin.copy:
        src: "{{ github_workspace }}/{{ ccache_dir }}/{{ ccache_archive }}"
        dest: "{{ collector_root }}/"
      when: arch == "s390x" and ccache_check.stat.exists

    - name: Unarchive ccache
      ansible.builtin.unarchive:
        src: "{{ collector_root }}/{{ ccache_archive }}"
        dest: "{{ collector_root }}/{{ ccache_dir }}"
        remote_src: true
      when: arch == "s390x" and ccache_check.stat.exists

    - name: Run the builder image
      community.general.make:
        chdir: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}"
        target: start-builder

    - name: Build the collector image
      community.general.make:
        chdir: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}"
        target: image
        params:
          CCACHE_DIR: "{{ ansible_env.GITHUB_WORKSPACE | default(collector_root) }}/.ccache"
          USE_CCACHE: true
      register: build_result
      # ensure this action is printed
      tags: [print_action]

    - name: Create ccache archive
      ansible.builtin.shell: |
        rm -f "{{ collector_root }}/{{ ccache_archive }}"
        cd "{{ collector_root }}/{{ ccache_dir }}"
        tar czf "{{ collector_root }}/{{ ccache_archive }}" .
      when: arch == "s390x"

    - name: Fetch ccache
      ansible.builtin.fetch:
        src: "{{ collector_root }}/{{ ccache_archive }}"
        dest: "{{ github_workspace }}/{{ ccache_dir }}/"
        flat: yes
      when: arch == "s390x"

    - name: Retag collector image to arch specific
      community.docker.docker_image:
        name: "{{ collector_image }}"
        repository: "{{ collector_image }}-{{ arch }}"
        source: local

    - name: Untag collector image to prevent issues with multiarch
      community.docker.docker_image:
        name: "{{ collector_image }}"
        state: absent

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ stackrox_io_username }}"
        password: "{{ stackrox_io_password }}"

    - name: Push to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}"
        push: true
        source: local

    - name: Push slim to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}"
        repository: "{{ collector_image }}-{{ arch }}-slim"
        push: true
        source: local

    - name: Push base to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}"
        repository: "{{ collector_image }}-{{ arch }}-base"
        push: true
        source: local

    - name: Push latest to quay.io/stackrox-io
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}"
        repository: "{{ collector_image }}-{{ arch }}-latest"
        push: true
        source: local

    - name: Login to quay.io
      community.docker.docker_login:
        registry_url: quay.io
        username: "{{ rhacs_eng_username }}"
        password: "{{ rhacs_eng_password }}"

    - name: Push to quay.io/rhacs-eng
      community.docker.docker_image:
        name: "{{ collector_image }}-{{ arch }}"
        repository: "{{ rhacs_eng_image }}-{{ arch }}"
        push: true
        source: local

    - name: Push slim to quay.io/rhacs-eng
      community.docker.docker_image:
        name: "{{ rhacs_eng_image }}-{{ arch }}"
        repository: "{{ rhacs_eng_image }}-{{ arch }}-slim"
        push: true
        source: local

    - name: Push base to quay.io/rhacs-eng
      community.docker.docker_image:
        name: "{{ rhacs_eng_image }}-{{ arch }}"
        repository: "{{ rhacs_eng_image }}-{{ arch }}-base"
        push: true
        source: local

    - name: Push latest to quay.io/rhacs-eng
      community.docker.docker_image:
        name: "{{ rhacs_eng_image }}-{{ arch }}"
        repository: "{{ rhacs_eng_image }}-{{ arch }}-latest"
        push: true
        source: local

    - name: Print images pushed
      debug:
        msg:
        - "Pushed the following images:"
        - "  {{ collector_image }}-{{ arch }}"
        - "  {{ collector_image }}-{{ arch }}-slim"
        - "  {{ collector_image }}-{{ arch }}-base"
        - "  {{ collector_image }}-{{ arch }}-latest"
        - "  {{ rhacs_eng_image }}-{{ arch }}"
        - "  {{ rhacs_eng_image }}-{{ arch }}-slim"
        - "  {{ rhacs_eng_image }}-{{ arch }}-base"
        - "  {{ rhacs_eng_image }}-{{ arch }}-latest"
      tags: [print_action]

    - name: Logout of quay.io
      community.docker.docker_login:
        registry_url: quay.io
        state: absent
      when: true
