---
- name: Run k8s based integration tests on KinD
  hosts: all

  vars:
    kind_name: "{{ cluster_name | default('collector-tests') }}"

  tasks:
    - name: Check KinD is installed
      ansible.builtin.command: which kind
      register: is_kind_available
      ignore_errors: true
      changed_when: false

    - name: Fail when kind is unavailable
      ansible.builtin.fail:
        msg: kind not found. https://kind.sigs.k8s.io/docs/user/quick-start/#installation
      when: is_kind_available.rc != 0

    - name: Create a test cluster
      ansible.builtin.shell:
        cmd: |
          cat << EOF | kind --name {{ kind_name }} --config=- create cluster
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          nodes:
          - role: control-plane
            extraMounts:
            - hostPath: {{ collector_root }}
              containerPath: /tmp/collector
          EOF

      changed_when: false

    - name: Check collector image exists locally
      containers.podman.podman_image_info:
        name: "{{ collector_image }}"
        executable: docker
      register: collector_image_info

    - name: Load collector image into kind cluster
      ansible.builtin.command:
        cmd: kind --name {{ kind_name }} load docker-image {{ collector_image }}
      when: collector_image_info.images | length == 1
      changed_when: false

    - name: Check tester image exists locally
      containers.podman.podman_image_info:
        name: "{{ tester_image }}"
        executable: docker
      register: tester_image_info

    - name: Load tester image into kind cluster
      ansible.builtin.command:
        cmd: kind --name {{ kind_name }} load docker-image {{ tester_image }}
      when: tester_image_info.images | length == 1
      changed_when: false

    - name: Create a namespace for collector tests
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: collector-tests
      tags:
        - test-only

    - name: Create custom RBAC permissions for tester
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          metadata:
            name: tester-permissions
          rules:
            - apiGroups:
                - '*'
              resources:
                - '*'
              verbs:
                - '*'
      tags:
        - test-only

    - name: Modify permissions to default service account for tester
      kubernetes.core.k8s:
        state: present
        definition:
          kind: ClusterRoleBinding
          metadata:
            name: tester-permissions-binding
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: tester-permissions
          subjects:
            - kind: ServiceAccount
              name: default
              namespace: collector-tests
      tags:
        - test-only

    - name: Create a service for the tester pod
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: tester-svc
            namespace: collector-tests
          spec:
            selector:
              app: tester
            ports:
              - protocol: TCP
                port: 9999
                targetPort: 9999
      tags:
        - test-only

    - name: Wait for default service account to be available
      kubernetes.core.k8s_info:
        kind: ServiceAccount
        name: default
        namespace: collector-tests
      register: account_status
      until: account_status.resources | length == 1
      retries: 10
      delay: 5
      tags:
        - test-only

    - name: Run k8s tests
      kubernetes.core.k8s:
        state: present
        wait: true
        definition:
          apiVersion: v1
          kind: Pod
          metadata:
            name: tester
            namespace: collector-tests
            labels:
              app: tester
          spec:
            restartPolicy: Never
            containers:
              - name: tester
                image: "{{ tester_image }}"
                env:
                  - name: REMOTE_HOST_TYPE
                    value: k8s
                  - name: COLLECTOR_QA_TAG
                    value: "{{ lookup('env', 'COLLECTOR_QA_TAG', default=lookup('file', collector_root + '/integration-tests/container/QA_TAG')) }}"
                  - name: COLLECTOR_IMAGE
                    value: "{{ collector_image }}"
                args: ["-test.run", "^TestK8s.*"]
                ports:
                  - containerPort: 9999
                volumeMounts:
                  - mountPath: /tests/container-logs
                    name: logs
                securityContext:
                  privileged: true
            volumes:
              - name: logs
                hostPath:
                  path: /tmp/collector/integration-tests/container-logs
      tags:
        - test-only

    - name: Wait until tests are done
      kubernetes.core.k8s_info:
        kind: Pod
        name: tester
        namespace: collector-tests
      register: tests_status
      until: tests_status.resources[0].status.phase != "Running"
      retries: 100
      delay: 6
      ignore_errors: true
      tags:
        - test-only

    - name: Get tester logs
      kubernetes.core.k8s_log:
        kind: Pod
        name: tester
        namespace: collector-tests
      register: log
      tags:
        - test-only

    - name: Output tester logs
      ansible.builtin.debug:
        msg: "{{ log.log_lines }}"
      tags:
        - test-only

    - name: Cleanup namespace
      kubernetes.core.k8s:
        state: absent
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: collector-tests
      tags:
        - test-only
        - cleanup

    - name: Cleanup ClusterRole
      kubernetes.core.k8s:
        state: absent
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          metadata:
            name: tester-permissions
          rules:
            - apiGroups:
                - '*'
              resources:
                - '*'
              verbs:
                - '*'
      tags:
        - test-only
        - cleanup

    - name: Cleanup ClusterRoleBinding
      kubernetes.core.k8s:
        state: absent
        definition:
          kind: ClusterRoleBinding
          metadata:
            name: tester-permissions-binding
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: tester-permissions
          subjects:
            - kind: ServiceAccount
              name: default
              namespace: collector-tests
      tags:
        - test-only
        - cleanup

    - name: Teardown test cluster
      ansible.builtin.command:
        cmd: kind --name {{ kind_name }} delete cluster
      when: true
      changed_when: false

    - name: Tests failed
      ansible.builtin.fail:
        msg: "Tests have failed!!"
      when: tests_status.resources[0].status.phase == "Failed"
