# TODO: unpin if RHEL 8 VMs on GCP update their python interpreter to 3.7+
# https://github.com/ansible/ansible/blob/v2.17.0/changelogs/CHANGELOG-v2.17.rst#removed-features-previously-deprecated
ansible-core<2.17
ansible<10
# TODO: unpin after https://github.com/docker/docker-py gets a release with
# https://github.com/docker/docker-py/commit/7785ad913ddf2d86478f08278bb2c488d05a29ff
requests==2.31.0
google-auth
selinux
kubernetes
