version: '3.2'

services:

  collector:
    image: "stackrox/collector:${COLLECTOR_TAG}"
    environment:
    - "GRPC_SERVER=grpc-server:9999"
    - 'COLLECTOR_CONFIG={"syscalls":["execve"],"generic_syscalls":["execve"],"useChiselCache":true,"signalOutput":"grpc","signalFormat":"signal_summary"}'
    restart: always
    privileged: true
    networks:
    - collector
    volumes:
    - /var/run/docker.sock:/host/var/run/docker.sock:ro
    - /proc:/host/proc:ro
    - /boot:/host/boot:ro
    - /sys/module:/host/sys/module:ro
    - /lib/modules:/host/lib/modules:ro
    - /usr:/host/usr:ro
    - /dev:/host/dev:ro

  grpc-server:
    image: stackrox/grpc-server:2.3.12.0
    ports:
    - "9999"
    networks:
    - collector
    volumes:
    - /tmp:/tmp:rw

networks:
  collector:
