{% for item, entries in groups.items() %}
{{ item }}:
  hosts:
{% for entry in entries if hostvars[entry].get('ibm_cloud_vm') %}
    {{ entry }}:
      ansible_user: root
      ansible_ssh_private_key_file: {{ ansible_ssh_private_key_file }}
      ansible_host: {{ hostvars[entry]['ansible_host'] }}
      vm_config: {{ hostvars[entry]['vm_config'] }}
      vm_collection_method: {{ hostvars[entry]['vm_collection_method'] }}
      vm_image_family: {{ hostvars[entry]['vm_image_family'] }}
{% endfor %}
{% endfor %}
