---
- name: Log into quay.io
  become: "{{ runtime_as_root }}"
  shell:
    cmd: "{{ runtime_command }} login -u {{ quay_username }} --password-stdin quay.io"
    stdin: "{{ quay_password }}"

# 'success' will be set to false in the Run Integration Tests step
# if any test fails. After the tests run, the Check results step
# will cause a global failure if 'success' is set to false.
- name: Set tests as successful
  set_fact:
    success: true

- name: Build tests
  include_tasks: build-tests.yml
  vars:
    arch: "{{ arch_info }}"

- name: Pull test images
  include_tasks: pull-images.yml
  # only pull all images when we're running all tests.
  # The performance penalty is several minutes
  # which is quite significant for a specific test suite
  # (i.e. when testing during development) but is only
  # minor when running on CI
  when: collector_test == 'ci-integration-tests'

#
# Separation of collection method is only possible with a separate
# task file, because we need to loop over a set of tasks to ensure
# the VM is in a consistent state between runs, and so we can
# store the log files appropriately for each collection method
#
# It also allows us to run certain collection methods against
# specific VMs (like in the benchmarks)
#
- name: Run Integration Tests
  include_tasks: test-collection-method.yml
  vars:
    collection_method: "{{ item }}"
  with_items:
    "{{ lookup('env', 'COLLECTION_METHODS', default='core_bpf,ebpf') | split(',') }}"

- name: Check results
  ansible.builtin.fail:
    msg: Tests failed
  when: success == false
