BasedOnStyle: Google

ColumnLimit: 0

DerivePointerAlignment: false
PointerAlignment: Left

IndentPPDirectives: AfterHash

IncludeBlocks: Regroup
IncludeCategories:
- Regex: '^((\"|<)(api|internalapi|storage)/)'
  Priority: 45
- Regex: '^((\"|<)(grpc|grpcpp|google)/)'
  Priority: 44
- Regex: '^((\"|<)(libsinsp|libscap)/)'
  Priority: 43
- Regex: '^<.*/.*'
  Priority: 20
- Regex: '^<[^/]*>'
  Priority: 10
- Regex: '^\"[a-z].*'
  Priority: 49
- Regex: '^\"'
  Priority: 50
