container/bin
container/bin-ppc64le
container/driver
container/libs
container/libs-ppc64le
container/include
container/COPYING.txt
container/NOTICE-*.txt
container/LICENSE-*.txt
container/THIRD_PARTY_NOTICES*
tags
collector.tar.gz
build/
cmake-build/
cmale-build-ppc64le/
cmake-build-rhel/
generated/
collector/protoc-*

# Generated dockerfiles
container/Dockerfile.dev

# clangd specific files
.cache/
