container/bin
container/driver
container/libs
container/include
container/COPYING.txt
container/NOTICE-*.txt
tags
collector.tar.gz
cmake-build/
generated/
collector/protoc-*
**/integration-tests/vendor
../integration-tests/deps
integration-test-report.xml
integration-test.log
../sysdig/build-output/
