name: auto-merge

on:
  pull_request:
    types:
    - labeled

jobs:
  auto-approve:
    name: Auto-approve Konflux updates for default branch
    runs-on: ubuntu-24.04
    if: github.actor == 'red-hat-konflux[bot]' && github.event.label.name == 'auto-approve'
    steps:
    - env:
        GH_TOKEN: ${{ secrets.RHACS_BOT_GITHUB_TOKEN }}
      run: |
        set -euo pipefail
        gh pr review ${{ github.event.pull_request.number }} \
          --approve --body "Auto-approved by automation." \
          --repo "${{ github.repository }}"
