name: Collector image build

on:
  workflow_call:
    inputs:
      collector-tag:
        type: string
        required: true
        description: |
          The tag used to build the collector image
      collector-image:
        type: string
        required: true
        description: |
          Basic stackrox-io image built
      is-external:
        type: string
        description: |
          Signals whether CI is running from a fork
        default: false

env:
  COLLECTOR_TAG: ${{ inputs.collector-tag }}
  RHACS_ENG_IMAGE: quay.io/rhacs-eng/collector:${{ inputs.collector-tag }}

jobs:
  build-collector-image:
    name: Build the collector slim image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Checks for main and release branches
        if: ${{ github.event_name == 'push' }}
        run: |
          echo 'BUILD_BUILDER_IMAGE=true' >> "$GITHUB_ENV"
          echo 'COLLECTOR_BUILDER_TAG=cache-gha' >> "$GITHUB_ENV"

      - name: PR checks
        id: pr-checks
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # We have 2 options:
          # - We build the builder from scratch and give it a custom tag
          # - We use the existing cache
          COLLECTOR_BUILDER_TAG="cache-gha"
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'build-builder-image') }}" == "true" ]]; then
            COLLECTOR_BUILDER_TAG="${{ inputs.collector-tag }}"
            echo 'BUILD_BUILDER_IMAGE=true' >> "$GITHUB_ENV"
          else
            docker pull quay.io/stackrox-io/collector-builder:cache-gha || true
          fi

          echo "COLLECTOR_BUILDER_TAG=$COLLECTOR_BUILDER_TAG" >> "$GITHUB_ENV"
          echo "builder-tag=$COLLECTOR_BUILDER_TAG" >> "$GITHUB_OUTPUT"

          echo "COLLECTOR_APPEND_CID=true" >> "$GITHUB_ENV"

          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'address-sanitizer') }}" == "true" ]]; then
            echo "ADDRESS_SANITIZER=true" >> "$GITHUB_ENV"
          fi

      - name: Build images
        run: |
          make image

      - name: Retag and push stackrox-io -slim
        uses: ./.github/actions/retag-and-push
        with:
          src-image: ${{ inputs.collector-image }}
          dst-image: ${{ inputs.collector-image }}-slim
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}
        if: ${{ inputs.is-external == 'false' }}

      - name: Retag and push stackrox-io -base
        uses: ./.github/actions/retag-and-push
        with:
          src-image: ${{ inputs.collector-image }}
          dst-image: ${{ inputs.collector-image }}-base
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}
        if: ${{ inputs.is-external == 'false' }}

      - name: Push builder to stackrox-io
        if: ${{ (github.event_name == 'push' || steps.pr-checks.outputs.builder-tag != 'cache-gha') && inputs.is-external == 'false' }}
        run: |
          docker push "quay.io/stackrox-io/collector-builder:${COLLECTOR_BUILDER_TAG}"

      - name: Retag and push rhacs-eng -slim
        uses: ./.github/actions/retag-and-push
        with:
          src-image: ${{ inputs.collector-image }}
          dst-image: ${{ env.RHACS_ENG_IMAGE }}-slim
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}
        if: ${{ inputs.is-external == 'false' }}

      - name: Retag and push rhacs-eng -base
        uses: ./.github/actions/retag-and-push
        with:
          src-image: ${{ inputs.collector-image }}
          dst-image: ${{ env.RHACS_ENG_IMAGE }}-base
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}
        if: ${{ inputs.is-external == 'false' }}

      - name: Push builder to rhacs-eng
        if: ${{ (github.event_name == 'push' || steps.pr-checks.outputs.builder-tag != 'cache-gha') && inputs.is-external == 'false' }}
        run: |
          docker tag "quay.io/stackrox-io/collector-builder:${COLLECTOR_BUILDER_TAG}" "quay.io/rhacs-eng/collector-builder:${COLLECTOR_BUILDER_TAG}"
          docker push "quay.io/rhacs-eng/collector-builder:${COLLECTOR_BUILDER_TAG}"

      - name: Retag and push to ghcr.io
        uses: ./.github/actions/retag-and-push
        with:
          registry: ghcr.io
          src-image: ${{ inputs.collector-image }}
          dst-image: ghcr.io/${{ github.repository }}:${{ inputs.collector-tag }}-slim
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
