name: Collector image build

on:
  #  push:
  #    branches:
  #      - master
  #      - release-*
  #  pull_request:
  #    branches:
  #      - master
  workflow_call:

jobs:
  build-collector-image:
    name: Build the collector slim image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Set collector tag
        run: |
          COLLECTOR_TAG="$(make tag)-gha"
          echo "COLLECTOR_TAG=${COLLECTOR_TAG}" >> "$GITHUB_ENV"

      - name: Checks for main and release branches
        if: ${{ github.event_name == 'push' }}
        run: |
          echo 'BUILD_BUILDER_IMAGE=true' >> "$GITHUB_ENV"
          echo 'COLLECTOR_BUILDER_TAG=cache-gha' >> "$GITHUB_ENV"

      - name: PR checks
        id: pr-checks
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # We have 2 options:
          # - We build the builder from scratch and give it a custom tag
          # - We use the existing cache
          COLLECTOR_BUILDER_TAG="cache-gha"
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'build-builder-image') }}" == "true" ]]; then
            COLLECTOR_BUILDER_TAG="${COLLECTOR_TAG}"
            echo 'BUILD_BUILDER_IMAGE=true' >> "$GITHUB_ENV"
          else
            docker pull quay.io/stackrox-io/collector-builder:cache-gha || true
          fi

          echo "COLLECTOR_BUILDER_TAG=$COLLECTOR_BUILDER_TAG" >> "$GITHUB_ENV"
          echo "builder-tag=$COLLECTOR_BUILDER_TAG" >> "$GITHUB_OUTPUT"

          echo "COLLECTOR_APPEND_CID=true" >> "$GITHUB_ENV"

          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'address-sanitizer') }}" == "true" ]]; then
            echo "ADDRESS_SANITIZER=true" >> "$GITHUB_ENV"
          fi

      - name: Build images
        run: |
          make image

      - name: Login to quay.io/stackrox-io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}

      - name: Retag and push collector to stackrox-io
        run: |
          docker tag "quay.io/stackrox-io/collector:${COLLECTOR_TAG}" "quay.io/stackrox-io/collector:${COLLECTOR_TAG}-slim"
          docker tag "quay.io/stackrox-io/collector:${COLLECTOR_TAG}" "quay.io/stackrox-io/collector:${COLLECTOR_TAG}-base"

          docker push "quay.io/stackrox-io/collector:${COLLECTOR_TAG}-slim"
          docker push "quay.io/stackrox-io/collector:${COLLECTOR_TAG}-base"

      - name: Push builder to stackrox-io
        if: ${{ github.event_name == 'push' || steps.pr-checks.outputs.builder-tag != 'cache-gha' }}
        run: |
          docker push "quay.io/stackrox-io/collector-builder:${COLLECTOR_BUILDER_TAG}"

      - name: Login to quay.io/rhacs-eng
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - name: Retag and push collector to rhacs-eng
        run: |
          docker tag "quay.io/stackrox-io/collector:${COLLECTOR_TAG}" "quay.io/rhacs-eng/collector:${COLLECTOR_TAG}-slim"
          docker tag "quay.io/stackrox-io/collector:${COLLECTOR_TAG}" "quay.io/rhacs-eng/collector:${COLLECTOR_TAG}-base"

          docker push "quay.io/rhacs-eng/collector:${COLLECTOR_TAG}-slim"
          docker push "quay.io/rhacs-eng/collector:${COLLECTOR_TAG}-base"

      - name: Push builder to rhacs-eng
        if: ${{ github.event_name == 'push' || steps.pr-checks.outputs.builder-tag != 'cache-gha' }}
        run: |
          docker tag "quay.io/stackrox-io/collector-builder:${COLLECTOR_BUILDER_TAG}" "quay.io/rhacs-eng/collector-builder:${COLLECTOR_BUILDER_TAG}"
          docker push "quay.io/rhacs-eng/collector-builder:${COLLECTOR_BUILDER_TAG}"
