name: Collector image build

on:
  workflow_call:
    outputs:
      collector-tag:
        description: "The tag used when building collector"
        value: ${{ jobs.build-collector-image.outputs.collector-tag }}

jobs:
  build-collector-image:
    name: Build the collector slim image
    runs-on: ubuntu-latest
    outputs:
      collector-tag: ${{ steps.collector-commons.outputs.collector-tag }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Set collector tag
        id: collector-commons
        run: |
          COLLECTOR_TAG="$(make tag)-gha"
          echo "COLLECTOR_TAG=${COLLECTOR_TAG}" >> "$GITHUB_ENV"
          echo "collector-tag=${COLLECTOR_TAG}" >> "$GITHUB_OUTPUT"
          echo "collector-image=quay.io/stackrox-io/collector:${COLLECTOR_TAG}" >> "$GITHUB_OUTPUT"

      - name: Checks for main and release branches
        if: ${{ github.event_name == 'push' }}
        run: |
          echo 'BUILD_BUILDER_IMAGE=true' >> "$GITHUB_ENV"
          echo 'COLLECTOR_BUILDER_TAG=cache-gha' >> "$GITHUB_ENV"

      - name: PR checks
        id: pr-checks
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          # We have 2 options:
          # - We build the builder from scratch and give it a custom tag
          # - We use the existing cache
          COLLECTOR_BUILDER_TAG="cache-gha"
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'build-builder-image') }}" == "true" ]]; then
            COLLECTOR_BUILDER_TAG="${COLLECTOR_TAG}"
            echo 'BUILD_BUILDER_IMAGE=true' >> "$GITHUB_ENV"
          else
            docker pull quay.io/stackrox-io/collector-builder:cache-gha || true
          fi

          echo "COLLECTOR_BUILDER_TAG=$COLLECTOR_BUILDER_TAG" >> "$GITHUB_ENV"
          echo "builder-tag=$COLLECTOR_BUILDER_TAG" >> "$GITHUB_OUTPUT"

          echo "COLLECTOR_APPEND_CID=true" >> "$GITHUB_ENV"

          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'address-sanitizer') }}" == "true" ]]; then
            echo "ADDRESS_SANITIZER=true" >> "$GITHUB_ENV"
          fi

      - name: Build images
        run: |
          make image

      - uses: ./.github/actions/retag-and-push/action.yml
        with:
          src-image: ${{ steps.collector-commons.outputs.collector-image }}
          dst-image: quay.io/stackrox-io/collector:${{ env.COLLECTOR_TAG }}-slim
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}

      - uses: ./.github/actions/retag-and-push/action.yml
        with:
          src-image: ${{ steps.collector-commons.outputs.collector-image }}
          dst-image: quay.io/stackrox-io/collector:${{ env.COLLECTOR_TAG }}-base
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}

      - name: Push builder to stackrox-io
        if: ${{ github.event_name == 'push' || steps.pr-checks.outputs.builder-tag != 'cache-gha' }}
        run: |
          docker push "quay.io/stackrox-io/collector-builder:${COLLECTOR_BUILDER_TAG}"

      - uses: ./.github/actions/retag-and-push/action.yml
        with:
          src-image: ${{ steps.collector-commons.outputs.collector-image }}
          dst-image: quay.io/rhacs-eng/collector:${{ env.COLLECTOR_TAG }}-slim
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - uses: ./.github/actions/retag-and-push/action.yml
        with:
          src-image: ${{ steps.collector-commons.outputs.collector-image }}
          dst-image: quay.io/rhacs-eng/collector:${{ env.COLLECTOR_TAG }}-base
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - name: Push builder to rhacs-eng
        if: ${{ github.event_name == 'push' || steps.pr-checks.outputs.builder-tag != 'cache-gha' }}
        run: |
          docker tag "quay.io/stackrox-io/collector-builder:${COLLECTOR_BUILDER_TAG}" "quay.io/rhacs-eng/collector-builder:${COLLECTOR_BUILDER_TAG}"
          docker push "quay.io/rhacs-eng/collector-builder:${COLLECTOR_BUILDER_TAG}"
