name: Collector image build

on:
  workflow_call:
    inputs:
      collector-tag:
        type: string
        required: true
        description: |
          The tag used to build the collector image
      collector-image:
        type: string
        required: true
        description: |
          Basic stackrox-io image built
      collector-builder-tag:
        type: string
        required: true
        description: |
          The builder tag to use in the build
      include-arch-json:
        type: string
        required: true
        description: |
          JSON for matrix.include to select architectures and runners to build

env:
  COLLECTOR_TAG: ${{ inputs.collector-tag }}
  COLLECTOR_BUILDER_TAG: ${{ inputs.collector-builder-tag }}
  RHACS_ENG_IMAGE: quay.io/rhacs-eng/collector:${{ inputs.collector-tag }}
  ANSIBLE_CONFIG: ${{ github.workspace }}/ansible/ansible.cfg
  TRACE_SINSP_EVENTS: ${{ github.event_name == 'pull_request' }}
  ADDRESS_SANITIZER: ${{ contains(github.event.pull_request.labels.*.name, 'address-sanitizer') }}

jobs:
  build-collector-image:
    name: Local collector image ${{ matrix.arch }}
    strategy:
      matrix:
        arch: [amd64, arm64, ppc64le]
        exclude:
          - arch: ${{ (!contains(github.event.pull_request.labels.*.name, 'run-multiarch-builds') && 'ppc64le') || '' }}
    runs-on: ${{ (matrix.arch == 'arm64' && 'ubuntu-22.04-arm') || 'ubuntu-22.04' }}

    env:
      PLATFORM: linux/${{ matrix.arch }}
      CONTEXT_DRIVERS_DIR: ${{ github.workspace }}/collector/kernel-modules

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create ansible vars
        run: |
          cat << EOF > ${{ github.workspace }}/ansible/secrets.yml
          ---
          stackrox_io_username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          stackrox_io_password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}
          rhacs_eng_username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          rhacs_eng_password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}
          collector_git_ref: ${{ github.ref }}
          collector_git_sha: ${{ github.sha }}
          collector_builder_tag: ${{ env.COLLECTOR_BUILDER_TAG }}
          disable_profiling: ${{ matrix.arch != 'amd64' && matrix.arch != 'arm64' }}
          rhacs_eng_image: ${{ env.RHACS_ENG_IMAGE }}
          collector_image: ${{ inputs.collector-image }}
          collector_tag: ${{ inputs.collector-tag }}
          debug_mode: ${{ github.event_name == 'pull_request' }}
          driver_version: ${DRIVER_VERSION}
          EOF

      - name: Build ${{ matrix.arch }} image locally
        timeout-minutes: 480
        run: |
          ansible-playbook \
            --connection local \
            -i localhost, \
            --limit localhost \
            -e arch='${{ matrix.arch }}' \
            -e @'${{ github.workspace }}/ansible/secrets.yml' \
            ansible/ci-build-collector.yml

  build-collector-image-remote:
    if: contains(github.event.pull_request.labels.*.name, 'run-multiarch-builds')
    name: Remote collector image ${{ matrix.arch }}
    strategy:
      matrix:
        arch: [s390x]
    runs-on: ubuntu-24.04

    env:
      PLATFORM: linux/${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS_COLLECTOR_SVC_ACCT }}'

      - uses: 'google-github-actions/setup-gcloud@v2'

      - uses: ./.github/actions/setup-vm-creds
        with:
          gcp-ssh-key: ${{ secrets.GCP_SSH_KEY }}
          gcp-ssh-key-pub: ${{ secrets.GCP_SSH_KEY_PUB }}
          s390x-ssh-key: ${{ secrets.IBM_CLOUD_S390X_SSH_PRIVATE_KEY }}
          ppc64le-ssh-key: ${{ secrets.IBM_CLOUD_POWER_SSH_PRIVATE_KEY }}
          ppc64le-ssh-key-pub: ${{ secrets.IBM_CLOUD_POWER_SSH_PUBLIC_KEY }}
          s390x-key: ${{ secrets.IBM_CLOUD_S390x_API_KEY }}
          ppc64le-key: ${{ secrets.IBM_CLOUD_POWER_API_KEY }}
          redhat-username: ${{ secrets.REDHAT_USERNAME }}
          redhat-password: ${{ secrets.REDHAT_PASSWORD }}
          vm-type: rhel-${{ matrix.arch }}
          job-tag: builder

      - name: Create ansible vars
        run: |
          cat << EOF > ${{ github.workspace }}/ansible/secrets.yml
          ---
          stackrox_io_username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          stackrox_io_password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}
          rhacs_eng_username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          rhacs_eng_password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}
          collector_git_ref: ${{ github.ref }}
          collector_git_sha: ${{ github.sha }}
          collector_builder_tag: ${{ env.COLLECTOR_BUILDER_TAG }}
          disable_profiling: ${{ matrix.arch != 'amd64' && matrix.arch != 'arm64' }}
          rhacs_eng_image: ${{ env.RHACS_ENG_IMAGE }}
          collector_image: ${{ inputs.collector-image }}
          collector_tag: ${{ inputs.collector-tag }}
          debug_mode: ${{ github.event_name == 'pull_request' }}
          EOF

      - name: Create Build VMs
        run: |
          make -C "${{ github.workspace }}/ansible" create-build-vms

      - name: Build ${{ matrix.arch }} image remotely
        timeout-minutes: 480
        run: |
          ansible-playbook \
            -i ansible/ci \
            -e arch='${{ matrix.arch }}' \
            -e build_hosts='job_id_${{ env.JOB_ID }}' \
            -e @'${{ github.workspace }}/ansible/secrets.yml' \
            ansible/ci-build-collector.yml

      - name: Destroy Build VMs
        if: always()
        run: |
          make -C ansible destroy-vms

  create-multiarch-manifest:
    needs:
    - build-collector-image
    - build-collector-image-remote
    name: Create Multiarch manifest
    runs-on: ubuntu-24.04
    if: always() && !contains(join(needs.*.result, ','), 'failure')
    env:
      ARCHS: ${{ join(fromJSON(inputs.include-arch-json).*.arch, ' ') }}

    steps:
      - uses: actions/checkout@v4

      - name: Login to quay.io/stackrox-io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}

      - name: Create and push multiarch manifest for stackrox-io
        uses: ./.github/actions/create-multiarch-manifest
        with:
          base-image: quay.io/stackrox-io/collector:${{ inputs.collector-tag }}
          archs: ${{ env.ARCHS }}

      - name: Login to quay.io/rhacs-eng
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - name: Create and push multiarch manifest for rhacs-eng
        uses: ./.github/actions/create-multiarch-manifest
        with:
          base-image: quay.io/rhacs-eng/collector:${{ inputs.collector-tag }}
          archs: ${{ env.ARCHS }}

  notify:
    runs-on: ubuntu-24.04
    if: always() && contains(join(needs.*.result, ','), 'failure') && github.event_name != 'pull_request'
    needs:
      - build-collector-image
      - build-collector-image-remote
      - create-multiarch-manifest
    steps:
      - name: Slack notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_COLLECTOR_ONCALL_WEBHOOK }}
          SLACK_CHANNEL: team-acs-collector-oncall
          SLACK_COLOR: failure
          SLACK_LINK_NAMES: true
          SLACK_TITLE: "Collector image build has failed"
          MSG_MINIMAL: actions url,commit
          SLACK_MESSAGE: |
            @acs-collector-oncall
