name: CPaaS related workflows

on:
  schedule:
    - cron: '0 6 * * *'
  pull_request:
    branches:
      - giles/prototype-drivers-branch
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - reopened

concurrency:
  group: cpaas-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  should-run:
    outputs:
      should-run: ${{ steps.should-run.outputs.should-run }}
    runs-on: ubuntu-latest
    steps:
      - id: should-run
        run: |
          SHOULD_RUN="${{ github.event_name == 'schedule' || contains(github.event.pull_request.labels.*.name, 'run-cpaas-steps') }}"
          echo "should-run=${SHOULD_RUN}" >> "$GITHUB_OUTPUT"

  init:
    needs:
    - should-run
    if: needs.should-run.outputs.should-run == 'true'
    uses: ./.github/workflows/init.yml
    with:
      cpaas-workflow: true

  sync-drivers-and-support-packages:
    uses: ./.github/workflows/cpaas-sync-drivers.yml
    needs: init
    secrets: inherit
    with:
      support-packages-bucket: ${{ needs.init.outputs.cpaas-support-packages-bucket }}
      support-packages-index-bucket: ${{ needs.init.outputs.support-packages-index-bucket }}
      public-support-packages-bucket: ${{ needs.init.outputs.public-support-packages-bucket }}
      drivers-bucket: ${{ needs.init.outputs.cpaas-drivers-bucket }}
      merged-drivers-bucket: ${{ needs.init.outputs.merged-drivers-bucket }}
      all-archs-drivers-bucket: ${{ needs.init.outputs.cpaas-all-archs-drivers-bucket }}
      branch-name: ${{ needs.init.outputs.branch-name }}

  check-drivers-failures:
    uses: ./.github/workflows/check-drivers-failures.yml
    needs: sync-drivers-and-support-packages
    with:
      logs-artifact:
        drivers-build-failures

  notify:
    runs-on: ubuntu-latest
    if: always() && contains(join(needs.*.result, ','), 'failure') && github.event_name == 'schedule'
    needs:
    - init
    - sync-drivers-and-support-packages
    steps:
      - name: Slack notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_COLLECTOR_ONCALL_WEBHOOK }}
          SLACK_CHANNEL: team-acs-collector-oncall
          SLACK_COLOR: failure
          SLACK_LINK_NAMES: true
          SLACK_TITLE: Downstream nightly failed
          MSG_MINIMAL: actions url,commit
          SLACK_MESSAGE: |
            @acs-collector-oncall
