name: Build Integration Test Containers

on:
  workflow_call:

jobs:
  test-containers:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.filter.outputs.container }}
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: shell

          # Filter on changes strictly in subdirectories within
          # integration-test/container
          # (i.e. exclude files in integration-tests/container itself)
          filters: |
            container:
              - integration-tests/container/QA_TAG

  common-variables:
    needs: test-containers
    runs-on: ubuntu-latest
    outputs:
      build-dirs: ${{ steps.variables.outputs.build-dirs }}

    steps:
      - uses: actions/checkout@v3

      - name: Set variables
        id: variables
        run: |
          dirs=$(find integration-tests/container/ -type d -mindepth 1 -maxdepth 1)
          # convert to json array so it can be used in the matrix
          json_dirs="$(echo "$dirs" | jq --raw-input --slurp 'split("\n") | map(select(. != ""))')"

          {
            echo "build-dirs<<EOS"
            echo "$json_dirs"
            echo "EOS"
          } >> "$GITHUB_OUTPUT"

  rebuild-containers:
    needs:
      - test-containers
      - common-variables

    if: needs.test-containers.outputs.changed == 'true'
    runs-on: ubuntu-latest
    env:
      CONTAINER_DIRS: ${{ needs.common-variables.outputs.build-dirs }}
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, ppc64le, s390x]

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to quay.io/rhacs-eng
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - name: Build and Push containers
        run: |
          for dir in $CONTAINER_DIRS; do
            make -C "${dir}" build-and-push
          done
        env:
          PLATFORM: linux/${{ matrix.arch }}

  push-manifest:
    runs-on: ubuntu-latest
    needs:
      - rebuild-containers
      - test-containers
      - common-variables
    if: needs.test-containers.outputs.changed == 'true'
    env:
      CONTAINER_DIRS: ${{ needs.common-variables.outputs.build-dirs }}
    steps:
      - uses: actions/checkout@v3

      - name: Login to quay.io/rhacs-eng
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - name: Make manifests
        run: |
          for dir in $CONTAINER_DIRS; do
            make -C "${dir}" manifest
          done

