name: Collector Integration Tests

on:
  workflow_call:
    inputs:
      collector-tag:
        description: |
          Tag used for running the integration tests
        type: string
        required: true
      is-external:
        type: string
        description: |
          Signals whether CI is running from a fork
        default: false

jobs:
  required-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    if: inputs.is-external == 'false'
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - rhel
          - ubuntu-os
    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
    secrets: inherit

  all-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    if: (contains(github.event.pull_request.labels.*.name, 'all-integration-tests') || github.event_name == 'push') && inputs.is-external == 'false'
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - cos
          - flatcar
          - fedora-coreos
          - rhel-sap
          - sles
          - garden-linux
    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
    secrets: inherit

  notify:
    runs-on: ubuntu-latest
    if: always() && contains(join(needs.*.result, ','), 'failure') && github.event_name == 'push'
    needs:
      - required-integration-tests
      - all-integration-tests
    steps:
      - name: Slack notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_COLLECTOR_NOTIFICATIONS_WEBHOOK }}
          SLACK_CHANNEL: team-acs-collector-notifications
          SLACK_COLOR: failure
          SLACK_LINK_NAMES: true
          SLACK_TITLE: "Integration tests failed."
          MSG_MINIMAL: actions url,commit
          SLACK_MESSAGE: |
            @acs-collector-team

  external-integration-tests:
    runs-on: ubuntu-22.04
    if: inputs.is-external == 'true'
    strategy:
      fail-fast: false
      matrix:
        collection-method:
        - ebpf
        - kernel_module
    env:
      COLLECTOR_IMAGE: quay.io/stackrox-io/collector:${{ inputs.collector-tag }}
      COLLECTION_METHOD: ${{ matrix.collection-method }}

    steps:
    - uses: actions/checkout@v3

    - name: Download collector image blob
      uses: actions/download-artifact@v3
      with:
        name: collector-full
        path: /tmp

    - name: Restore collector image
      run: |
        docker load -i /tmp/collector-full.tar

    - name: Run integration tests locally
      run: |
        make -C ${{ github.workspace }}/integration-tests ci-integration-tests

    - name: Store artifacts
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.collection-method }}-logs
        path: |
          ${{ github.workspace }}/integration-tests/container-logs/**/*
          ${{ github.workspace }}/integration-tests/perf.json
          ${{ github.workspace }}/integration-tests/performance-logs/**/*
