name: Build Integration Test Containers

on:
  workflow_call:
    inputs:
      collector-tag:
        type: string
        required: true
        description: |
          The tag used to build the collector image
    outputs:
      collector-qa-tag:
        description: Tag used for QA containers
        value: ${{ jobs.common-variables.outputs.collector-qa-tag }}

jobs:
  test-containers:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.filter.outputs.container }}
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: shell

          # Only trigger a rebuild when the QA tag has changed
          filters: |
            container:
              - integration-tests/container/QA_TAG

  common-variables:
    needs: test-containers
    runs-on: ubuntu-latest
    outputs:
      build-dirs: ${{ steps.variables.outputs.build-dirs }}
      collector-qa-tag: ${{ steps.variables.outputs.collector-qa-tag }}

    steps:
      - uses: actions/checkout@v3

      - name: Set variables
        id: variables
        run: |
          dirs=$(find integration-tests/container/ -type d -mindepth 1 -maxdepth 1)
          json_dirs="$(echo "$dirs" | jq --raw-input --slurp 'split("\n") | map(select(. != ""))')"

          {
            echo "build-dirs<<EOS"
            echo "$json_dirs"
            echo "EOS"
          } >> "$GITHUB_OUTPUT"

          COLLECTOR_QA_TAG="$(cat integration-tests/container/QA_TAG)"
          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" && ${{ needs.test-containers.outputs.changed }} == "true" ]]; then
            COLLECTOR_QA_TAG="${COLLECTOR_QA_TAG}-${{ inputs.collector-tag }}"
          fi
          echo "collector-qa-tag=${COLLECTOR_QA_TAG}" >> "$GITHUB_OUTPUT"

  rebuild-containers:
    needs:
      - test-containers
      - common-variables

    if: needs.test-containers.outputs.changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        directory: ${{ fromJSON(needs.common-variables.outputs.build-dirs) }}
    env:
      PLATFORM: linux/amd64,linux/s390x,linux/ppc64le
      COLLECTOR_QA_TAG: ${{ needs.common-variables.outputs.collector-qa-tag }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to quay.io/rhacs-eng
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RHACS_ENG_RW_USERNAME }}
          password: ${{ secrets.QUAY_RHACS_ENG_RW_PASSWORD }}

      - name: Build and Push containers
        run: |
          make -C "${{ matrix.directory }}" build-and-push

