name: Collector Integration Tests

on:
  workflow_call:
    inputs:
      collector-tag:
        description: |
          Tag used for running the integration tests
        type: string
        required: true
      collector-qa-tag:
        description: |
          Tag used for QA containers
        type: string
        required: true
      collector-tests-tag:
        description: |
          Tag used for the test container
        type: string
        required: true
      job-tag:
        description: |
          Used to differentiate between different sources when creating
          VMs in GCP.
        type: string
        default: ""
      collector-repo:
        description: |
          Optional repository to use for the collector image
        type: string
        default: "quay.io/rhacs-eng/collector"
      is-konflux:
        description: |
          Marker for workflows triggered for a konflux build.
          These builds don't support multiarch, so it should only run x86
          tests
        type: boolean
        default: false
      large-box:
        description: |
          Marker for workflows that suppose to run tests on nodes with large
          number of CPU cores.
        type: boolean
        default: false

jobs:
  amd64-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - rhcos
          - ubuntu-os
          - cos
          - flatcar
          - fedora-coreos
          - rhel
          - rhel-sap
          - sles
          - garden-linux
    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
      collector-qa-tag: ${{ inputs.collector-qa-tag }}
      collector-tests-tag: ${{ inputs.collector-tests-tag }}
      job-tag: ${{ inputs.job-tag }}
      collector-repo: ${{ inputs.collector-repo }}
    secrets: inherit

  amd64-integration-tests-large-box:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    if: contains(github.event.pull_request.labels.*.name, 'large-box-integration-tests') || inputs.large-box
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - fedora-coreos-large-node
    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
      collector-qa-tag: ${{ inputs.collector-qa-tag }}
      collector-tests-tag: ${{ inputs.collector-tests-tag }}
      job-tag: ${{ inputs.job-tag }}
      collector-repo: ${{ inputs.collector-repo }}
    secrets: inherit

  arm64-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - cos-arm64
          - rhel-arm64
          - ubuntu-arm
          - sles-arm64
          - fcarm

    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
      collector-qa-tag: ${{ inputs.collector-qa-tag }}
      collector-tests-tag: ${{ inputs.collector-tests-tag }}
      job-tag: ${{ inputs.job-tag }}
      collector-repo: ${{ inputs.collector-repo }}
    secrets: inherit

  s390x-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    with:
      vm_type: rhel-s390x
      collector-tag: ${{ inputs.collector-tag }}
      collector-qa-tag: ${{ inputs.collector-qa-tag }}
      collector-tests-tag: ${{ inputs.collector-tests-tag }}
      job-tag: ${{ inputs.job-tag }}
      collector-repo: ${{ inputs.collector-repo }}
    secrets: inherit

  ppc64le-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    with:
      vm_type: rhel-ppc64le
      collector-tag: ${{ inputs.collector-tag }}
      collector-qa-tag: ${{ inputs.collector-qa-tag }}
      collector-tests-tag: ${{ inputs.collector-tests-tag }}
      job-tag: ${{ inputs.job-tag }}
      collector-repo: ${{ inputs.collector-repo }}
    secrets: inherit

  notify:
    runs-on: ubuntu-24.04
    if: always() && contains(join(needs.*.result, ','), 'failure') && github.event_name != 'pull_request'
    needs:
      - amd64-integration-tests
      - arm64-integration-tests
      - s390x-integration-tests
      - ppc64le-integration-tests
    steps:
      - name: Slack notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_COLLECTOR_ONCALL_WEBHOOK }}
          SLACK_CHANNEL: team-acs-collector-oncall
          SLACK_COLOR: failure
          SLACK_LINK_NAMES: true
          SLACK_TITLE: "Integration tests failed."
          MSG_MINIMAL: actions url,commit
          SLACK_MESSAGE: |
            @acs-collector-oncall
