name: Collector Integration Tests

on:
  workflow_call:
    inputs:
      collector-tag:
        description: |
          Tag used for running the integration tests
        type: string
        required: true

jobs:
  required-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - rhel
          - ubuntu-os
    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
    secrets: inherit

  all-integration-tests:
    uses: ./.github/workflows/integration-tests-vm-type.yml
    if: contains(github.event.pull_request.labels.*.name, 'all-integration-tests') || github.event_name == 'push'
    strategy:
      # ensure that if one part of the matrix fails, the
      # rest will continue
      fail-fast: false
      matrix:
        vm_type:
          - cos
          - flatcar
          - fedora-coreos
          - rhel-sap
          - sles
          - garden-linux
    with:
      vm_type: ${{ matrix.vm_type }}
      collector-tag: ${{ inputs.collector-tag }}
    secrets: inherit

  notify:
    runs-on: ubuntu-latest
    needs:
      - required-integration-tests
      - all-integration-tests
    steps:
      - name: Slack notification
        if: always() && contains(join(needs.*.result, ','), 'failure') && github.event_name == 'push'
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_ONCALL }}
          SLACK_CHANNEL: oncall
          SLACK_COLOR: failure
          SLACK_LINK_NAMES: true
          SLACK_TITLE: Integration tests failed.
          MSG_MINIMAL: actions url,commit
          SLACK_MESSAGE: |
            @collector-team
