name: Run konflux workflows

on:
  schedule:
    cron:
      - 0 6 * * *
  push:
    branches:
      - master
      - release-*
    tags:
      - 3.*.*
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - reopened

concurrency:
  group: ${{ github.head_ref || github.run_id }}-konflux
  cancel-in-progress: true

jobs:
  run-tests:
    uses: ./.github/workflows/konflux-tests.yml
    if: github.event_name != 'pull_request' ||
        contains(github.head_ref, 'konflux') ||
        contains(github.head_ref, 'rhtap')
    secrets: inherit

