name: Main collector CI

on:
  push:
    branches:
      - master
      - release-*
  pull_request:

jobs:
  build-drivers:
    uses: ./.github/workflows/drivers.yml
    secrets: inherit

  check-drivers-build:
    runs-on: ubuntu-latest
    needs: build-drivers
    if: ${{ needs.build-drivers.outputs.parallel-jobs > 0 }}
    steps:
      - uses: actions/checkout@v3

      - name: Restore failure files
        uses: actions/download-artifact@v3
        with:
          name: driver-build-failures
          path: /tmp/FAILURES

      - name: Check build failures
        run:
          FAILURES_DIR=/tmp/FAILURES/ ${{ github.workspace }}/.openshift-ci/drivers/scripts/drivers-build-failures.sh

  build-collector-slim:
    uses: ./.github/workflows/collector-slim.yml
    secrets: inherit

  build-collector-full:
    uses: ./.github/workflows/collector-full.yml
    with:
      collector-tag: ${{ needs.build-collector-slim.outputs.collector-tag }}
    secrets: inherit
    needs:
    - build-collector-slim
    - build-drivers

  integration-tests:
    uses: ./.github/workflows/integration-tests.yml
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-integration-tests') }}
    needs: build-collector-full
    secrets: inherit
