name: Main collector CI

on:
  push:
    branches:
      - master
      - release-*
  pull_request:

jobs:
  build-drivers:
    uses: ./.github/workflows/drivers.yml
    secrets: inherit

  upload-drivers:
    uses: ./.github/workflows/upload-drivers.yml
    if: ${{ needs.build-drivers.outputs.parallel-jobs > 0 }}
    needs: build-drivers
    secrets: inherit

  check-drivers-build:
    runs-on: ubuntu-latest
    needs: build-drivers
    # TODO: Add back this check
    #if: ${{ needs.build-drivers.outputs.parallel-jobs > 0 }}
    steps:
      - uses: actions/checkout@v3

      - name: Restore failure files
        uses: actions/download-artifact@v3
        with:
          name: driver-build-failures
          path: /tmp/FAILURES

      - name: Check build failures
        run: |
          FAILURES_DIR=/tmp/FAILURES/ ${{ github.workspace }}/.openshift-ci/drivers/scripts/drivers-build-failures.sh

          # TODO: Rollback this change
          exit 1

      - name: Slack notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_ONCALL }}
          SLACK_CHANNEL: oncall
          SLACK_COLOR: ${{ job.status }}
          SLACK_LINK_NAMES: true
          SLACK_TITLE: Driver build check failed
          SLACK_MESSAGE: |
            @collector-team

  build-collector-slim:
    uses: ./.github/workflows/collector-slim.yml
    secrets: inherit

  build-collector-full:
    uses: ./.github/workflows/collector-full.yml
    with:
      collector-tag: ${{ needs.build-collector-slim.outputs.collector-tag }}
      skip-built-drivers: ${{ needs.build-drivers.outputs.parallel-jobs == 0 }}
    secrets: inherit
    needs:
    - build-collector-slim
    - build-drivers

  integration-tests:
    uses: ./.github/workflows/integration-tests.yml
    with:
      collector-tag: ${{ needs.build-collector-slim.outputs.collector-tag }}
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-integration-tests') }}
    needs:
    - build-collector-slim
    - build-collector-full
    secrets: inherit
