name: Notify MODULE_VERSION changed

on:
  push:
    branches:
    - master
    - release-*
    paths:
    - kernel-modules/MODULE_VERSION

jobs:
  notify:
    runs-on: ubuntu-22.04
    steps:
    - name: Slack notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_ONCALL }}
        SLACK_CHANNEL: oncall
        SLACK_COLOR: ${{ job.status }}
        SLACK_LINK_NAMES: true
        SLACK_TITLE: MODULE_VERSION has changed!
        MSG_MINIMAL: commit
        SLACK_MESSAGE: |
          @collector-team you should now update downstream with the new version and commit.
          Create a MR to [rhacs-0.1-rhel-8](https://gitlab.cee.redhat.com/stackrox/rhacs-midstream/-/tree/rhacs-0.1-rhel-8)
          adding this `MODULE_VERSION` to `upstream_sources.yml` and `distgit/containers/rhacs-drivers-build/container.yaml.in`.
          Once done, you will need to create another MR to [rhacs-1.0-rhel-8](https://gitlab.cee.redhat.com/stackrox/rhacs-midstream/-/tree/rhacs-1.0-rhel-8)
          updating the support package used in `distgit/containers/rhacs-collector/pre-build-script`.
